$small-width: 416px;
$medium-width: 768px;

$topNav-background-color:  #2c3e50;

$topNav-small-h1 : 20px;
$topNav-medium-h1 : 24px;
$topNav-large-h1 : 28px;

$topNav-small-p : 12px;
$topNav-medium-p : 13px;
$topNav-large-p : 14px;

$input-width-small: 100%;
$button-width-small: 98%;

$showcase-small-h1: 10px;
$showcase-medium-h1: 12px;
$showcase-large-h1: 14px;























